StudentsPerformancePredictionTool-CW1/Connected Services/StudySessionService/StudySession.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetStudySessions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStudySessionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStudySessionsResult" type="tns:ArrayOfStudySessionModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfStudySessionModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="StudySessionModel" nillable="true" type="tns:StudySessionModel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="StudySessionModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Hours" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Subject" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetStudySessionById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sessionId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStudySessionByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStudySessionByIdResult" type="tns:StudySessionModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddStudySession">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="hours" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddStudySessionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddStudySessionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateStudySession">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sessionId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="hours" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateStudySessionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateStudySessionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteStudySession">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sessionId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteStudySessionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteStudySessionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetStudySessionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetStudySessions" />
  </wsdl:message>
  <wsdl:message name="GetStudySessionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetStudySessionsResponse" />
  </wsdl:message>
  <wsdl:message name="GetStudySessionByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetStudySessionById" />
  </wsdl:message>
  <wsdl:message name="GetStudySessionByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetStudySessionByIdResponse" />
  </wsdl:message>
  <wsdl:message name="AddStudySessionSoapIn">
    <wsdl:part name="parameters" element="tns:AddStudySession" />
  </wsdl:message>
  <wsdl:message name="AddStudySessionSoapOut">
    <wsdl:part name="parameters" element="tns:AddStudySessionResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateStudySessionSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateStudySession" />
  </wsdl:message>
  <wsdl:message name="UpdateStudySessionSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateStudySessionResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteStudySessionSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteStudySession" />
  </wsdl:message>
  <wsdl:message name="DeleteStudySessionSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteStudySessionResponse" />
  </wsdl:message>
  <wsdl:portType name="StudySessionSoap">
    <wsdl:operation name="GetStudySessions">
      <wsdl:input message="tns:GetStudySessionsSoapIn" />
      <wsdl:output message="tns:GetStudySessionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStudySessionById">
      <wsdl:input message="tns:GetStudySessionByIdSoapIn" />
      <wsdl:output message="tns:GetStudySessionByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddStudySession">
      <wsdl:input message="tns:AddStudySessionSoapIn" />
      <wsdl:output message="tns:AddStudySessionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStudySession">
      <wsdl:input message="tns:UpdateStudySessionSoapIn" />
      <wsdl:output message="tns:UpdateStudySessionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStudySession">
      <wsdl:input message="tns:DeleteStudySessionSoapIn" />
      <wsdl:output message="tns:DeleteStudySessionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StudySessionSoap" type="tns:StudySessionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStudySessions">
      <soap:operation soapAction="http://tempuri.org/GetStudySessions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudySessionById">
      <soap:operation soapAction="http://tempuri.org/GetStudySessionById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStudySession">
      <soap:operation soapAction="http://tempuri.org/AddStudySession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStudySession">
      <soap:operation soapAction="http://tempuri.org/UpdateStudySession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStudySession">
      <soap:operation soapAction="http://tempuri.org/DeleteStudySession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StudySessionSoap12" type="tns:StudySessionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStudySessions">
      <soap12:operation soapAction="http://tempuri.org/GetStudySessions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudySessionById">
      <soap12:operation soapAction="http://tempuri.org/GetStudySessionById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStudySession">
      <soap12:operation soapAction="http://tempuri.org/AddStudySession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStudySession">
      <soap12:operation soapAction="http://tempuri.org/UpdateStudySession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStudySession">
      <soap12:operation soapAction="http://tempuri.org/DeleteStudySession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StudySession">
    <wsdl:port name="StudySessionSoap" binding="tns:StudySessionSoap">
      <soap:address location="http://localhost:59492/StudySession.asmx" />
    </wsdl:port>
    <wsdl:port name="StudySessionSoap12" binding="tns:StudySessionSoap12">
      <soap12:address location="http://localhost:59492/StudySession.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>