StudentsPerformancePredictionTool-CW1/Connected Services/ReportService/Report.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GenerateReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="startDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="endDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerateReportResult" type="tns:ArrayOfReportModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfReportModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ReportModel" nillable="true" type="tns:ReportModel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ReportModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="StudyHours" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="StudySessions" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BreakHours" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="BreakSessions" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GenerateReportSoapIn">
    <wsdl:part name="parameters" element="tns:GenerateReport" />
  </wsdl:message>
  <wsdl:message name="GenerateReportSoapOut">
    <wsdl:part name="parameters" element="tns:GenerateReportResponse" />
  </wsdl:message>
  <wsdl:portType name="ReportSoap">
    <wsdl:operation name="GenerateReport">
      <wsdl:input message="tns:GenerateReportSoapIn" />
      <wsdl:output message="tns:GenerateReportSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReportSoap" type="tns:ReportSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerateReport">
      <soap:operation soapAction="http://tempuri.org/GenerateReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ReportSoap12" type="tns:ReportSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerateReport">
      <soap12:operation soapAction="http://tempuri.org/GenerateReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Report">
    <wsdl:port name="ReportSoap" binding="tns:ReportSoap">
      <soap:address location="http://localhost:59492/Report.asmx" />
    </wsdl:port>
    <wsdl:port name="ReportSoap12" binding="tns:ReportSoap12">
      <soap12:address location="http://localhost:59492/Report.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>