StudentsPerformancePredictionTool-CW1/Connected Services/PredictionService/Prediction.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="PredictGrades">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PredictGradesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PredictGradesResult" type="tns:ArrayOfPredictionModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPredictionModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PredictionModel" nillable="true" type="tns:PredictionModel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PredictionModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Subject" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PredictedGrade" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="HoursToPass" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="HoursToDistinction" type="s:double" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PredictGradesSoapIn">
    <wsdl:part name="parameters" element="tns:PredictGrades" />
  </wsdl:message>
  <wsdl:message name="PredictGradesSoapOut">
    <wsdl:part name="parameters" element="tns:PredictGradesResponse" />
  </wsdl:message>
  <wsdl:portType name="PredictionSoap">
    <wsdl:operation name="PredictGrades">
      <wsdl:input message="tns:PredictGradesSoapIn" />
      <wsdl:output message="tns:PredictGradesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PredictionSoap" type="tns:PredictionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PredictGrades">
      <soap:operation soapAction="http://tempuri.org/PredictGrades" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PredictionSoap12" type="tns:PredictionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PredictGrades">
      <soap12:operation soapAction="http://tempuri.org/PredictGrades" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Prediction">
    <wsdl:port name="PredictionSoap" binding="tns:PredictionSoap">
      <soap:address location="http://localhost:59492/Prediction.asmx" />
    </wsdl:port>
    <wsdl:port name="PredictionSoap12" binding="tns:PredictionSoap12">
      <soap12:address location="http://localhost:59492/Prediction.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>