StudentsPerformancePredictionTool-CW1/Connected Services/BreakSessionService/BreakSession.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetBreakSessions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBreakSessionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBreakSessionsResult" type="tns:ArrayOfBreakSessionModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBreakSessionModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BreakSessionModel" nillable="true" type="tns:BreakSessionModel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BreakSessionModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Hours" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetBreakSessionById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sessionId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBreakSessionByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBreakSessionByIdResult" type="tns:BreakSessionModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddBreakSession">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="hours" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddBreakSessionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddBreakSessionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateBreakSession">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sessionId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="hours" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateBreakSessionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateBreakSessionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteBreakSession">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sessionId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteBreakSessionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteBreakSessionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetBreakSessionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetBreakSessions" />
  </wsdl:message>
  <wsdl:message name="GetBreakSessionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetBreakSessionsResponse" />
  </wsdl:message>
  <wsdl:message name="GetBreakSessionByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetBreakSessionById" />
  </wsdl:message>
  <wsdl:message name="GetBreakSessionByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetBreakSessionByIdResponse" />
  </wsdl:message>
  <wsdl:message name="AddBreakSessionSoapIn">
    <wsdl:part name="parameters" element="tns:AddBreakSession" />
  </wsdl:message>
  <wsdl:message name="AddBreakSessionSoapOut">
    <wsdl:part name="parameters" element="tns:AddBreakSessionResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateBreakSessionSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateBreakSession" />
  </wsdl:message>
  <wsdl:message name="UpdateBreakSessionSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateBreakSessionResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteBreakSessionSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteBreakSession" />
  </wsdl:message>
  <wsdl:message name="DeleteBreakSessionSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteBreakSessionResponse" />
  </wsdl:message>
  <wsdl:portType name="BreakSessionSoap">
    <wsdl:operation name="GetBreakSessions">
      <wsdl:input message="tns:GetBreakSessionsSoapIn" />
      <wsdl:output message="tns:GetBreakSessionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBreakSessionById">
      <wsdl:input message="tns:GetBreakSessionByIdSoapIn" />
      <wsdl:output message="tns:GetBreakSessionByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddBreakSession">
      <wsdl:input message="tns:AddBreakSessionSoapIn" />
      <wsdl:output message="tns:AddBreakSessionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBreakSession">
      <wsdl:input message="tns:UpdateBreakSessionSoapIn" />
      <wsdl:output message="tns:UpdateBreakSessionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBreakSession">
      <wsdl:input message="tns:DeleteBreakSessionSoapIn" />
      <wsdl:output message="tns:DeleteBreakSessionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BreakSessionSoap" type="tns:BreakSessionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBreakSessions">
      <soap:operation soapAction="http://tempuri.org/GetBreakSessions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBreakSessionById">
      <soap:operation soapAction="http://tempuri.org/GetBreakSessionById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBreakSession">
      <soap:operation soapAction="http://tempuri.org/AddBreakSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBreakSession">
      <soap:operation soapAction="http://tempuri.org/UpdateBreakSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBreakSession">
      <soap:operation soapAction="http://tempuri.org/DeleteBreakSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BreakSessionSoap12" type="tns:BreakSessionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBreakSessions">
      <soap12:operation soapAction="http://tempuri.org/GetBreakSessions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBreakSessionById">
      <soap12:operation soapAction="http://tempuri.org/GetBreakSessionById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBreakSession">
      <soap12:operation soapAction="http://tempuri.org/AddBreakSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBreakSession">
      <soap12:operation soapAction="http://tempuri.org/UpdateBreakSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBreakSession">
      <soap12:operation soapAction="http://tempuri.org/DeleteBreakSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BreakSession">
    <wsdl:port name="BreakSessionSoap" binding="tns:BreakSessionSoap">
      <soap:address location="http://localhost:59492/BreakSession.asmx" />
    </wsdl:port>
    <wsdl:port name="BreakSessionSoap12" binding="tns:BreakSessionSoap12">
      <soap12:address location="http://localhost:59492/BreakSession.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>